app = "crypto-bot-5oc5ta"
primary_region = "ams"

[build]
  builder = "paketobuildpacks/builder:base"

[env]
  PORT = "8080"

[processes]
  worker = "python cron.py"

[vm]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
